@keyframes fadeUpBanner {
  0% {
    transform: translateY(-30px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
    opacity: 1;
  }
  80% {
    transform: translateY(-70px);
    opacity: 1;
  }
  90% {
    transform: translateY(-130px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px) rotate(360deg);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(60px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
