@import "./mixin.scss";
@import "./vars.scss";
// Init font base;
@include font-face(muli, Muli, normal);
@include font-face(muliB, Muli-Bold, normal);
@include font-face(raleway, Raleway-Bold, normal);
@include font-face(raleway_thin, Raleway-VariableFont_wght, normal);
@keyframes fadeUpBanner {
  0% {
    transform: translateY(-30px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translate(0, -50%) scale(1);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
    opacity: 1;
  }
  80% {
    transform: translateY(-70px);
    opacity: 1;
  }
  90% {
    transform: translateY(-130px);
    opacity: 1;
  }
  100% {
    transform: translateY(-70px) rotate(360deg);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeUp {
  0% {
    transform: translateY(60px) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mt-50 {
  margin-top: 50px;
}

.mr-20 {
  margin-right: 20px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: $mainColor4;
  border-color: $mainColor4;
}

.animated {
  @include animated;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}

.fadeUp {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}

.fadeUpBanner {
  -webkit-animation-name: fadeUpBanner;
  animation-name: fadeUpBanner;
}

.animate_delay {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.spin {
  animation: spin 5s both infinite linear;
}
.bounce-animation {
  animation: bounce;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
}
.rotate-animation {
  animation: bounce 1s ease infinite linear;
  animation-duration: 1s;
}
.section {
  padding-top: 15px;
  padding-bottom: 30px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden;

  @media only screen and (min-width: 768px) {
    & {
      width: 750px;
    }
  }
  @media only screen and (min-width: 992px) {
    & {
      width: 970px;
    }
  }
  @media only screen and (min-width: 1200px) {
    & {
      width: 1000px;
    }
  }
}

.text {
  &__uppercase {
    text-transform: uppercase;
  }

  &__white {
    color: #fff;
  }
}
