$mainColor1: #1976d2;
$mainColor2: #038175;
$mainColor3: #616161;
$mainColor4: #06a763;
$mainColor5: #5f1a89;
$mainColor6: #5d4037;
$mainColor7: #e42444;
$mainColor8: #cf2b7e;

$white: #fff;
$textColor: #616161;
$titleColor: #616161;
