@import "../../index.scss";
.loading {
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  width: 100%;

  background-color: $mainColor4;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.loading__object {
  height: 35px;
  width: 35px;
  position: absolute;
  display: inline-block;
  border: 5px solid #fff;
  opacity: 0;
}
.loading__title {
  font-family: raleway;
  font-size: 46px;
  color: #fff;
  margin-bottom: 5px;
}
.loading__subtitle {
  font-family: raleway_thin;
  font-size: 20px;
  color: #fff;
}
