@import "assets/scss";

.testimonials {
  &__card {
    background: var(--main-color);
    position: relative;
    border-radius: 0 !important;
    margin: 8px 0;

    .wrap {
      padding: 0 15px;

      .slide__inner {
        padding: 0 15px;

        .client__img {
          margin-bottom: -45px;
          margin-top: 10px;
          position: inherit;
          z-index: 2;

          img {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%),
              0 2px 10px 0 rgb(0 0 0 / 12%);
          }
        }

        .center__block {
          display: block;
          margin-right: auto;
          margin-left: auto;
        }
      }

      .swiper-wrapper {
        padding-bottom: 20px;
      }
    }

    blockquote {
      padding-top: 66px;
      text-align: center;
      padding-bottom: 20px;
      font-size: 15px;
      color: #fff;
      border-left: none;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 0;
      border: 2px solid var(--secondary-color);
    }
  }

  .clients {
    margin-top: 20px;
    display: block;

    .card {
      @include boxShadow;
    }

    &__wrap {
      display: block;
      overflow: hidden;
      padding: 10px 0 0;
      margin-top: -12px;

      .swiper-slide {
        width: 140px;
        height: 75px;
        line-height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop {
          height: 65px;
        }

        img {
          vertical-align: middle;
          height: 55px;
          max-width: 100%;
          max-height: 100%;
          opacity: 0.65;
          transition: opacity 0.3s;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
