@import "assets/scss/vars.scss";

.education {
  width: 100%;
  height: auto;
  margin-top: 70px;

  .timeline__education {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 23px;
      left: 50%;
      height: 99.5%;
      width: 4px;
      opacity: 0.3;
      background: $mainColor4;

      @media only screen and (min-width: 768px) {
        left: 50%;
        margin-left: -2px;
        height: 80%;
        opacity: 0.4;
        background: $mainColor4;
      }
    }
  }
}
