@import "../../../../assets/scss/vars.scss";
.education {
  width: 100%;
  height: auto;
  margin-top: 70px;

  .timeline__education {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 23px;
      left: 50%;
      height: 99.5%;
      width: 4px;
      opacity: 0.3;
      background: #06a763;

      @media only screen and (min-width: 768px) {
        left: 50%;
        margin-left: -2px;
        height: 80%;
        opacity: 0.4;
        background: #06a763;
      }
    }
  }
}

// .timeline {
//   width: 100%;
//   height: 100%;
//   margin: 0 auto;

//   &__title {
//     font-size: 36px;
//     margin: 25px 0px 45px 0;
//     font-weight: bold;
//     font-family: raleway;
//     opacity: 0.5;
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     &_icon {
//       height: 60px;
//       width: 60px;
//       background: #fff;
//       box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
//       display: inline-block;
//       position: relative;
//       border-radius: 5px;
//       margin-right: 15px;

//       svg {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//   }

//   &__inner {
//     width: 100%;
//     max-width: 970px;
//     height: 100%;
//     position: relative;

//     &:before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translate(50%, 0);
//       width: 2px;
//       height: 85%;
//       background: $mainColor4;
//       opacity: 0.5;
//     }
//   }

//   &__block {
//     width: 100%;
//     display: flex;
//   }

//   &__card {
//     background-color: #fff;
//     box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
//     padding: 15px 25px;
//     width: 44%;
//     border-left: 3px solid $mainColor1;
//     position: relative;
//     margin: -10px 0;

//     &.card-left:before {
//       content: "";
//       position: absolute;
//       top: 30px;
//       right: -50px;
//       width: 50px;
//       height: 2px;
//       background: $mainColor3;
//     }

//     &.card-right:before {
//       content: "";
//       position: absolute;
//       top: 30px;
//       left: -50px;
//       width: 50px;
//       height: 2px;
//       background: $mainColor3;
//     }
//   }

//   &-circle {
//     height: 50px;
//     width: 50px;
//     border-radius: 50%;
//     background-color: $mainColor4;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: absolute;
//     top: 5px;

//     span {
//       text-transform: uppercase;
//       font-weight: bold;
//       font-size: 24px;
//       color: #fff;
//     }
//   }
// }

// .timeline-block.flex-end .timeline-circle {
//   top: 5px;
//   left: -86px;
// }
