@import "assets/scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #616161;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;

  .blue {
    --main-color: #1f5694;
    --secondary-color: #ff5722;
  }

  .brown {
    --main-color: #5d4037;
    --secondary-color: #3f51b5;
  }

  .gray {
    --main-color: #616161;
    --secondary-color: #f44336;
  }

  .green {
    --main-color: #06a763;
    --secondary-color: #1976d2;
  }

  .pink {
    --main-color: #d81b60;
    --secondary-color: #9c27b0;
  }

  .purple {
    --main-color: #5f1a89;
    --secondary-color: #e61f63;
  }

  .red {
    --main-color: #e73a2e;
    --secondary-color: #ff8f00;
  }

  .teal {
    --main-color: #038175;
    --secondary-color: #9c27b0;
  }

  .white {
    --main-color: #06a763;
    --secondary-color: #1976d2;

    .banner .quick-profile {
      background: #f5f5f5 !important;
    }

    .banner .quick-profile__img .splash {
      border-color: rgba(223, 50, 50, 0) transparent transparent #f5f5f5 !important;
    }

    .owner__title,
    .owner__subTitle,
    .detail__wrap .detail__item .item__icon svg,
    .detail__wrap .detail__item .item__text {
      color: #616161 !important;
    }
  }
}

img {
  vertical-align: middle;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.App {
  display: none;
}

.card {
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.25s;
  -webkit-transition: box-shadow 0.25s;
  border-radius: 0 !important;
  margin: 8px 0;
}

.btn {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  @include boxShadow;
  transition: box-shadow 0.3s ease;
  text-transform: capitalize;

  &:hover {
    @include boxShadowHover;
  }

  &--primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
  }
}

.spin {
  animation: spin 5s both infinite linear;
  -webkit-animation: spin 5s both infinite linear;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  -webkit-backface-visibility: hidden;

  @media only screen and (min-width: 768px) {
    & {
      width: 750px;
    }
  }

  @media only screen and (min-width: 992px) {
    & {
      width: 970px;
    }
  }

  @media only screen and (min-width: 1200px) {
    & {
      width: 1000px;
    }
  }
}

.animated {
  @include animated;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 0;
}

.loadingAnimate {
  @include animated;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade {
  -webkit-animation-name: fadeUp;
  animation-name: fadeUp;
}

.fadeBanner {
  -webkit-animation-name: fadeUpBanner;
  animation-name: fadeUpBanner;
}

.animate_delay {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.text {
  &__uppercase {
    text-transform: uppercase;
  }

  &__center {
    text-align: center;
  }

  &__white {
    color: #fff;
  }

  &__holder {
    width: 100%;
    position: absolute;
    color: #fff;
    top: 62%;

    h2 {
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);
    }

    h6 {
      font-size: 16px;
      padding: 0;
      margin: 0;
      text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);
    }
  }
}

.section {
  position: relative;
  padding-top: 15px;
  padding-bottom: 30px;

  &__title {
    margin-bottom: 18px;

    h4 {
      font-size: 2.18rem;
      line-height: 110%;
      margin: 1.14rem 0 0.912rem 0;
      font-family: ralewayBold;
      color: $titleColor;
    }

    img {
      width: 66px;
      padding: 10px;
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
      margin: -2px 12px 12px 12px;
    }
  }
}

#scrollUp {
  color: #fff;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 20px;
  line-height: 2;
  background: #1976d2;
  border: 1px solid #1976d2;
  text-align: center;
  position: fixed;
  bottom: 21px;
  right: 18px;
  z-index: 5;
  box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s;
}

.image__responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.owner {
  &__title {
    display: block;
    width: 100%;
    font-weight: 900;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);
    font-family: raleway;

    @include fs(35);
    margin: 1.14rem 0 0.912rem 0;
  }

  &__subTitle {
    display: block;
    width: 100%;
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 29%);

    @include fs(19);
    margin-bottom: 25px;
    font-family: raleway_thin;
  }
}

.inLeft,
.inRight {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.inLeft {
  -webkit-animation-name: InLeft;
  animation-name: InLeft;
}

.inRight {
  -webkit-animation-name: InRight;
  animation-name: InRight;
}
